#tituDuv{
  font-size: 50px;
  margin-top: -70px;
  margin-bottom: 20px;
}
#duvidas {

  padding-top: 30px;
}
div.c {
  position: relative;
  margin: 0em;
  border-radius: 35px;
  color: black;
  font-size: 20px; 
  text-align: center;
}
div.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
  
}
div.p p {
  padding: 2em;
}
label::before {
  content: "";
  display: inline-block;
  border: 15px solid transparent;
  border-left: 20px solid white;
}
label {
  cursor: pointer;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
input:checked~h3 label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid white;
  margin-top: 12px;
  margin-right: 10px;
}
input:checked~h3~div.p {
  max-height: 200px;
}
input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}