body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@media only screen and (max-device-width: 640px){
        #topnav {
          position: relative;
          background-color: #244d61;
        }
        #topnav #myLinks {
          display:none;
        }
        #topnav a.icon {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
        #tituDuv{
          font-size: 30px;
          margin-top: -70px;
          margin-bottom: 20px;
        }
        div.c {
          font-size: 16px;
        }
        #denis {
          display: none;
        }
        #sobre1.column {
          width: 100%;
        }
        #hr {
          display: none;
        }
        #pp {
          width:100%;
        }
        #sobre1 > div:nth-child(2) > div > h1{
          margin:0;
        }
        #aa {
          display: none;
        }
        #bb {
          width: 50%;
        }
        #cc {
          width: 50%;
        }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #222; 
}
.text{
  font-size: 20px;
}
span{
  color: #75E2FF;
  font-size: 50px;
}
span:hover{
  color: #fff;
  transition: 0.5s;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo{
font-size: 46px;
color: #ffffff
}
.topnav {
  position: fixed;
  z-index:1;
  background-color: #fff;
  height:70px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
}
.topnav #myLinks {
  display:flex;
  float: right;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.topnav a {
  display: block;
  color: #75E2FF;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.topnav a.icon {
  display: none;
}
.topnav.active {
  background-color: #244d61;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.topnav.active a {
  color: #ffffff;
}
.topnav.active span:hover {
  color: #ffffff;
}

.topnav.active .container {
  padding: 10px 0;
}

.topnav current{
    color: #75E2FF;
    font-weight: bold;
}
.topnav current:hover{
    color: #ffffff;
    font-weight: bold;
}
.topnav a:hover {
  color: #75E2FF;
  font-weight: bold;
}

.hero {
  background-image: url("imgs/BackSobre.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}
.column{
  text-align: center;
  width: 50%;
  float: left; 
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.slideshow-container {
  position: relative;
  height:800px;
  margin: auto;
}
/* imagem slides com wave */
.custom-shape-divider-bottom-1668283969 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1668283969 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1668283969 .shape-fill {
  fill: #FFFFFF;
}
.custom-shape-divider-top-1668284390 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1668284390 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1668284390 .shape-fill {
  fill: #FFFFFF;
}

.mySlides {
  display: none;
  height:800px;
  background: #244d61;
  overflow: hidden;
}
.ss{
  width: 100%;
  height: 100%;
  object-fit: cover;
   opacity: 0.6;
}
.mySlides.active {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color:  #75E2FF;
}
#tt{
  color: #f2f2f2;
  position:absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.footer {
  background-color: #244d61;
  text-align: center;
  padding: 5px;
  color: white;
  position:static;

  
}
.footer1 {
  background-color: #244d61;
  align-items: left;
  text-align: left;
  padding: 5px;
  color: white;
  position:static;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 5px 2px;
}

#maps {
  text-align:center;

}
#maps iframe {
          width: 100%;
        }
.elfsight-app-4d8eda04-f1dc-4cf8-80a5-27bd378a1e40{
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

div.c {
  position: relative;
  margin: 0em;
  border-radius: 35px;
  color: black;
  font-size: 20px; 
  text-align: center;
}

input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}

h3 {
  background: #244d61;
  color: white;
  padding: 1em;
  position: relative;
}

label::before {
  content: "";
  display: inline-block;
  border: 15px solid transparent;
  border-left: 20px solid white;
}

label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

div.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
  
}

div.p p {
  padding: 2em;
}

input:checked~h3 label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid white;
  margin-top: 12px;
  margin-right: 10px;
}

input:checked~h3~div.p {
  max-height: 200px;
}

a {
  color: steelblue;
}

h3 {
  border-radius: 0px;
}
.hero1 {
  background-image: url("imgs/image00060.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 400px;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  z-index: -2;
}

.hero1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero1 h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero1 p {
  font-size: 20px;
  letter-spacing: 1px;
}
.container1 {  
  text-align: left;
}
.w-separator-h {
  display: inline-flex;
  align-items: center;
  height: inherit;
}
#duvidas {

  padding-top: 30px;
}
#face:hover{
  border-radius: 45px;
  background-color: blue;
  opacity: 0.7;
  color: rgb(255, 255, 255);

}
#wpp:hover {
  border-radius: 45px;
  background-color: green;
  opacity: 0.7;
  color: rgb(255, 255, 255);

}
#inst:hover {
  border-radius: 45px;
  background-color: pink;
  opacity: 0.7;
  color: rgb(255, 255, 255);

}
#tituDuv{
  font-size: 50px;
  margin-top: -70px;
  margin-bottom: 20px;
}
.column25 {
  text-align: center;
  width: 33%;
  float: left;
}

.social-icons {
  padding: 0px;
  text-align: center;
  
}

.social-icons a {
  color: #fff;
  line-height: 30px;
  font-size: 30px;
  text-decoration: none;
}

.social-icons a i {
  line-height: 1px;
  font-size: 30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.social-icons a:hover i {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.footer1 h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  margin: 10px;
}
.footer1 p{
  line-height: 25px;
}
.contatos{
  line-height: 20px;
}

.contatos p:hover{
  color:#75E2FF;
}
.custom-shape-divider-bottom-16682839699 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-16682839699 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-16682839699 .shape-fill {
  fill: #244d61;
}
label {
  text-align: center;
}