@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@media only screen and (max-device-width: 640px){
        #topnav {
          position: relative;
          background-color: #244d61;
        }
        #topnav #myLinks {
          display:none;
        }
        #topnav a.icon {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
        #tituDuv{
          font-size: 30px;
          margin-top: -70px;
          margin-bottom: 20px;
        }
        div.c {
          font-size: 16px;
        }
        #denis {
          display: none;
        }
        #sobre1.column {
          width: 100%;
        }
        #hr {
          display: none;
        }
        #pp {
          width:100%;
        }
        #sobre1 > div:nth-child(2) > div > h1{
          margin:0;
        }
        #aa {
          display: none;
        }
        #bb {
          width: 50%;
        }
        #cc {
          width: 50%;
        }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #222; 
}
.text{
  font-size: 20px;
}
span{
  color: #75E2FF;
  font-size: 50px;
}
span:hover{
  color: #fff;
  transition: 0.5s;
}
h3 {
  background: #244d61;
  color: white;
  padding: 1em;
  position: relative;
  border-radius: 0px;
}
a {
  color: steelblue;
}